<div class="row mt-20">
    <div class="card">
  
      <div class="table-responsive mt-10">
        <span *ngIf="errorMsg!=''" style="color:red;text-align: center;">{{errorMsg}}</span>
        <table class="table table-blue table-hover">
          <thead>
            <tr>
              <th>Sl.No</th>
              <th>Product Name</th>
              <th>Product Price</th>
              <th>Product Weight</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
  
            <tr *ngFor="let p of productList ; let i = index">
              <td>{{i+1}}</td>
              <td>{{p.productName}}</td>
              <td>{{p.productPrice}}</td>
              <td>{{p.productWeight}}</td>
              <td>
                <button class="btn btn-primary" (click)="addProductList(addProduct)">add</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-success" (click)="editProductList(updateProduct,p)">edit</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-danger" (click)="deleteProductList(i)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  <ng-template let-modal #addProduct>
    <div class="modal-header">
      <h4 id="modal-basic-title" style="text-align: center;">Add Product</h4>
      <button type="button" class="close" aria-label="Close"(click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
      </button>
  </div>
    <div class="modal-body">
      <span *ngIf="errorMsg!=''" style="color:red;text-align: center;">{{errorMsg}}</span>
          <table class="table table-blue table-hover">
            <thead>
              <tr>
                <th><label><b> Product Name</b></label></th>
                <th><label><b>Product Price</b></label></th>
                <th><label><b>Product Weight </b></label></th>
              </tr>  
            </thead>
            <tbody>
              <tr>
                  <td><input type="text" class="form-control" [(ngModel)]="product.productName"></td>
                  <td><input type="text" class="form-control" (keypress)="keyPress($event)" [(ngModel)]="product.productPrice"></td>
                  <td><input type="text" class="form-control" (keypress)="keyPress($event)" [(ngModel)]="product.productWeight"></td>
                </tr>
            </tbody>
          </table>
            <div style="text-align: center;">
                <button class="btn btn-secondary " (click)="close()">cancel</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="saveProductData(product)">Save</button>
            </div>
    </div>
  </ng-template>
  <ng-template let-modal #updateProduct>
    <div class="modal-header">
      <h4 id="modal-basic-title" style="text-align: center;">Update Product</h4>
      <button type="button" class="close" aria-label="Close"(click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
      </button>
  </div>
    <div class="modal-body">
      <span *ngIf="errorMsg!=''" style="color:red;text-align: center;">{{errorMsg}}</span>
          <table class="table table-blue table-hover">
            <thead>
              <tr>
                <th><label><b> Product Name</b></label></th>
                <th><label><b>Product Price</b></label></th>
                <th><label><b>Product Weight </b></label></th>
              </tr>  
            </thead>
            <tbody>
              <tr>
                  <td><input type="text" class="form-control" [(ngModel)]="product.productName"></td>
                  <td><input type="text" class="form-control" (keypress)="keyPress($event)" [(ngModel)]="product.productPrice"></td>
                  <td><input type="text" class="form-control" (keypress)="keyPress($event)" [(ngModel)]="product.productWeight"></td>
                </tr>
            </tbody>
          </table>
            <div style="text-align: center;">
                <button class="btn btn-secondary " (click)="close()">cancel</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" (click)="updateProductDetails(product)">Proceed</button>
            </div>
    </div>
  </ng-template>